/* components/Navbar.css */
.navbar {
    margin-top: 20px;
    background-color:#c0ac2b;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    float: center;
  }
  
  .navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    background-color: #111;
  }
  